.navbar{
  margin-left: 190px;
  width: 1140px;

}
.nam1{
border-radius: 10px;
}
.nam2{
border-radius: 10px;
}
.button1{
  background-color: green;
  cursor: pointer;
  text-decoration: none;
  border-radius: 40px;
}
.name-show{
  float: right;
  background-color: white;
}
.panel-body{

}
.jumbotron{
  margin-top: 20px;

}
.container{
  background-image: url(../images/download.jpg);
}
.entire{
  background-image: url(../images/morocco.png);
}
h4{
  font-style: italic;
  font-weight: bold;
  margin-left: 500px
}
